@charset "utf-8";
/* CSS Document */

body {
	background-color: #eee;
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-weight:inherit;
	font-style:inherit;
	font-size:100%;
	vertical-align:baseline;



}

/*a.button{
display:block;
color:#555555;
font-weight:bold;
height:30px;
line-height:29px;
margin-bottom:14px;
text-decoration:none;
width:191px;
}
a:hover.button{
color:#0066CC;
}*/

a, a:visited {
	color:blue;
	text-decoration:underline;
}
a:hover, a:active {
	color:#999;
	text-decoration:underline;
}




#header{
	
	postion:relative;
	height:156px;
	width:1342px;
	margin-left:auto;
	margin-right:auto;
}



#content_wrap {
	
	height:470px;
	width:1342px;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
		
}

#left_content{
	
	height:470px;
	width:700px;
	float:left;
	margin-left:150px;
	

}

#right_content{
	
	height:400px;
	width:350px;
	float:right;
	margin-right:20px;
	margin-left:0px;
	margin-top:10px;
	
	border: 2px solid white;
  /*	background-color:  #39aea8 ;*/
  	background-shadow: #000 1px 1px;
    
	

}
#footer{
	width:1342px;
	postion:relative;
	margin-left:auto;
	margin-right:auto;
	
}



#container{
	width:1200px;
	margin: auto auto;
	position:relative;
	top:-2em;
	z-index:2;
	
	
}



#nav {  
    position: relative;  
    float: left;  
	margin-left:400px;
}  

#nav li { 
 
    float: left;  
    list-style: none;  
    border-right:1px solid #afc4cc;
	
}  

#nav li a {  
    color: #39aea8;  
    position: relative;  
    z-index: 2;  
    float: left;  
    font-size: 15px;  
	font-weight:bold;
    font-family: helvetica, arial, sans-serif;  
	
    text-decoration: none;  
    padding: 5px 45px;  
}  

ul, li {  
    margin: 0; padding: 0;  
}  

ul#nav li a:link,ul#nav li a:visited {
	color: #39aea8;
	text-decoration:none;
	}
ul#nav li a:hover,ul#nav  li.active a {
	color:  #f4ba51 ;
	text-decoration:none;
}

	
#file
{
	margin-left:410px;
	height:27px;
	width:290px;
  	border: 2px solid white;
  	background-color:  #39aea8 ;
  	background-shadow: #000 1px 1px;
}





#hello{
	
	margin-top:15px;	
	margin-left:430px;	
	
}

#move1{
	margin-top:15px;
	margin-left:20px;	
	
}


