/* General Demo Style */
body{
    font-family: 'Oswald', Arial, sans-serif;
	
}
.container{
	position:relative;
}
a{
	color: #fff;
	text-decoration: none;
}
.clr{
	clear: both;
}

.button-wrapper{
	width: 320px;
	margin: 0 auto;
    padding: 20px 0;
}
.button-wrapper-large{
	width:500px;
	margin: 0 auto;
    padding: 20px 0;
	height: 80px;
}