
body {
	background-color: #eee;
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-weight:inherit;
	font-style:inherit;
	font-size:100%;
	font-family:inherit;
	



}

#header{
	
	postion:relative;
	height:156px;
	width:1342px;
	margin-left:auto;
	margin-right:auto;
}

#content_wrap {
	
	height:600px;
	width:1000px;
	margin-left:auto;
	margin-right:auto;
	margin-top:5px;
		
}

#container{
	width:1200px;
	margin: auto auto;
	position:relative;
	top:-2em;
	z-index:2;
	
	
}



#nav {  
    position: relative;  
    float: left;  
	margin-left:400px;
}  

#nav li { 
 
    float: left;  
    list-style: none;  
    border-right:1px solid #afc4cc;
	
}  

#nav li a {  
    color: #39aea8;  
    position: relative;  
    z-index: 2;  
    float: left;  
    font-size: 15px;  
	font-weight:bold;
    font-family: helvetica, arial, sans-serif;  
	
    text-decoration: none;  
    padding: 5px 45px;  
}  

ul, li {  
    margin: 0; padding: 0;  
}  

ul#nav li a:link,ul#nav li a:visited {
	color: #39aea8;
	text-decoration:none;
	}
ul#nav li a:hover,ul#nav li a:active {
	color:  #f4ba51 ;
text-decoration:none;
}


/* ------------------
 styling for the tables 
   ------------------   */


#pattern-style-a
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 45px;
	width: 1000px;
	text-align: center;
	border-collapse: collapse;
	background: url('table-images/pattern.png');
	line-height: 1.6em;
}
#pattern-style-a thead tr
{
	background: url('table-images/pattern-head.png');
}
#pattern-style-a th
{
	font-size: 15px;
	font-weight: normal;
	padding: 8px;
	border-bottom: 1px solid #fff;
	color: #039;
	font-weight:bold;
}
#pattern-style-a td
{
	padding: 8px; 
	border-bottom: 1px solid #fff;
	color: #669;
	border-top: 1px solid transparent;
}
#pattern-style-a tbody tr:hover td
{
	color: #39aea8;
	background: #fff;
}

