@charset "utf-8";
/* CSS Document */


#header{

	height:156px;
	width:1342px;
	margin-left:auto;
	margin-right:auto;
}

#footer{
	width:1342px;
	margin-left:auto;
	margin-right:auto;
}



#content_wrap {
	
	height:500px;
	width:1342px;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
}

#left_content{
	
	height:500px;
	width:700px;
	float:left;
	margin-left:190px;
}


#right_content{
	
	height:500px;
	width:320px;
	float:right;
	margin-right:130px;
	margin-left:0px;
	margin-top:30px;
	

}

#hm
{
	position:relative;
	width:130px;
	height:200px;
	top:50px;
	left:30px;
}


#email
{
	position:relative;
	width:160px;
	left:75px;
	top:-20px;
	height:20px;
}

#pass
{
	position:relative;
	width:160px;
	left:75px;
	top:-20px;
	height:20px;
}

#submit
{
	position:relative;
	width:70px;
	left:180px;
	top:-25px;
	height:30px;
	color: #fff;
    font-size: 14px;
    font-weight: normal;
    text-shadow: 0px -1px 0px #5b6ddc;
    outline: none;
    border: 1px solid rgba(0, 0, 0, .49);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    border-radius: 6px;
    background-color: #0b2b61;
    background-image: -webkit-linear-gradient(bottom, #0b2b61 0%, #768ee4 100%);
    background-image: -moz-linear-gradient(bottom, #0b2b61 0%, #768ee4 100%);
    background-image: -o-linear-gradient(bottom, #0b2b61 0%, #768ee4 100%);
    background-image: -ms-linear-gradient(bottom, #0b2b61 0%, #768ee4 100%);
    background-image: linear-gradient(bottom, #0b2b61 0%, #768ee4 100%);
    cursor: pointer;
    -webkit-box-shadow: inset 0px 1px 0px #9ab1ec;
    box-shadow: inset 0px 1px 0px #9ab1ec;
}

#submit:hover{
	
	background-color: #5f73e9;
    background-image: -webkit-linear-gradient(bottom, #0b2b61 0%, #859bef 100%);
    background-image: -moz-linear-gradient(bottom, #0b2b61 0%, #859bef 100%);
    background-image: -o-linear-gradient(bottom, #0b2b61 0%, #859bef 100%);
    background-image: -ms-linear-gradient(bottom, #0b2b61 0%, #859bef 100%);
    background-image: linear-gradient(bottom, #0b2b61 0%, #859bef 100%);
    -webkit-box-shadow: inset 0px 1px 0px #aab9f4;
    box-shadow: inset 0px 1px 0px #aab9f4;
    margin-top: 5px;
}

#submit:active {
    background-color: #7588e1;
    background-image: -webkit-linear-gradient(bottom, #7588e1 0%, #7184df 100%);
    background-image: -moz-linear-gradient(bottom, #7588e1 0%, #7184df 100%);
    background-image: -o-linear-gradient(bottom, #7588e1 0%, #7184df 100%);
    background-image: -ms-linear-gradient(bottom, #7588e1 0%, #7184df 100%);
    background-image: linear-gradient(bottom, #7588e1 0%, #7184df 100%);
    -webkit-box-shadow: inset 0px 1px 0px #93a9e9;
    box-shadow: inset 0px 1px 0px #93a9e9;
}

#check
{
	position:relative;	
	width:auto;
	left:20px;
	top:10px;
	height:30px;
}

#stay{
	
	margin-left:20px;	
}

#tp{
	margin-top:30px;	
}
/*=================================*/

/*====================*/
/*=== Reset Styles ===*/
/*====================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-weight:inherit;
	font-style:inherit;
	font-size:100%;
	font-family:inherit;
	vertical-align:baseline;
}
body {
	line-height:1;
	color:black;
	background:white;
}
table {
	border-collapse:separate;
	border-spacing:0;
}
caption, th, td {
	text-align:left;
	font-weight:normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content:"";
}
blockquote, q {
	quotes:"" "";
}
/* HTML5 tags */
header, section, footer,
aside, nav, article, figure {
	display: block;
}

/*===================*/
/*=== Main Styles ===*/
/*===================*/
body {
	font:14px/1.6 Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	color:#333;
	background:#eee;
}

a, a:visited {
	color:blue;
	text-decoration:none;
}
a:hover, a:active {
	color:#000;
	text-decoration:none;
}


.slider-wrapper { 
	width: 80%; 
	margin: 30px -40px;
}

.clear {
	clear:both;
}


.boxed {
	height:400px;
	width:320px;
  	border: 2px solid white;
  	background-color:  #39aea8 ;
  	background-shadow: #000 1px 1px;
  }

#h1{
	margin-top:10px;
	text-align:center;
	  
}


#invalid {
		float:right;
		margin-left:10px;
}